#footer-img-1 {
  left: 7.17%;
  right: 91.08%;
  top: 54.93%;
  bottom: 33.8%;
}

#footer-img-2 {
  left: 10.75%;
  right: 87.49%;
  top: 54.93%;
  bottom: 33.8%;
}

#footer-img-3 {
  left: 14.34%;
  right: 83.91%;
  top: 54.93%;
  bottom: 33.8%;
}

.footer {
  * {
    position: absolute;
  }
}

.footer-blue-background {
  width: 1367px;
  height: 213px;
  left: 0px;
  top: 4282px;

  background: #1a78fd;
}

.footer-title {
  position: absolute;
  left: 7.17%;
  right: 80.18%;
  top: 28.17%;
  bottom: 58.22%;

  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 32px;
  /* or 89% */

  color: #ffffff;
}

.copyright {
  left: 7.24%;
  right: 63.57%;
  top: 75.59%;
  bottom: 9.39%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  color: #ffffff;
}

.contato {
  left: 65.54%;
  right: 29.19%;
  top: 27.7%;
  bottom: 57.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}

.sobre {
  left: 73.23%;
  right: 22.97%;
  top: 27.7%;
  bottom: 57.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}

.depoimentos {
  left: 80.4%;
  right: 10.97%;
  top: 27.7%;
  bottom: 57.28%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  color: #ffffff;
}
